@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Montserrat:ital@0;1&display=swap');

/* 
#281916 - Escuro
#e86786 - Rosa Choque
#f4a1b5 - Rosa Delicado
#ffd2cb - Bege
#96b5ad - Verde
*/

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    height: 810px;
    min-width: fit-content;
    font-family: 'Gowun Batang';
    background-color: #000000;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.titulo{
    max-width: fit-content;
    margin: 0px 20px 0px 20px;
}

.titulo > h1{
    color: white;
}

.foto > img{
    height: 110vw;
    max-height: 650px;
}

.temporizador{
    max-width: fit-content;
    margin: 0px 20px 0px 20px;
}

.temporizador > p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
    word-wrap: break-word;
    color: white;
}

.temporizador > p > div{
    width: 100%;
    height: 1px;
    background-color: white;
}